.modal-content{
    background-color: #665745;
}
.modal-title{
    color: #f6a10c;
    text-align: center;
}

.modal-body{
    color: white;
}

.modal-body .form-control{
    box-shadow: 0px 0px 10px 0.8px #fca10c;
}

.modal-body .btn{
    background-color: #f6a10c;
    margin-top: 20px;
}

.modal-body .form-group .form-control.file{
    background-color: #f6a10c !important;
}

.modal-body .form-group .StripeElement{
    color: white;
}

.card-body .table tbody td .btn a{
    color: white;
    font-size: 15px;
}
